body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FFF;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
h1 {
  font-size: 50px;
}
.btn {
  padding: 15px 32px;
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}
.container {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
/*
* Media Queries
*/
@media (max-width: 900px) {
  div.container {
    width: 100%;
    padding: 0;
    display: inline-flex;
  }
  div.section-2-body {
    font-size: 15px;
    width: 100%;
    padding: 0;
  }
  div.avatar-div {
    padding: 0 0 0 0;
    text-align: center;
  }
  img.avatar {
    width: 100px;
    height: 100px;
  }
  .section-3-header h1 {
    font-size: 20px;
  }
  .section-3-body {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .card {
    display: inline-block;
  }
  .card-body li {
    list-style: none;
  }
  .card-header h3 {
    font-size: 20px;
  }
  div.card-body {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .card-body li {
    list-style: none;
    font-size: 12px;
  }
  tr {
    display: flex;
    flex-wrap: wrap;
  }
}
/*
* End Media Queries
*/
.section-1 {
  background-color: #174C4F;
}
.header {
  text-align: center;
  color: #FFF;
}
.letter-z {
  transform: rotate(30deg);
  margin-top: -40px;
  margin-left: 350px;
}
.space {
  padding-left: 100px;
}
.down-arrow {
  color: rgba(255, 255, 255, .3);
  font-size: 75px;
  position: relative;
  text-align: center;
  transform: rotate(180deg);
}
.section-2 {
  /*align-content: center;*/
  position: relative;
  width: 100%;
}
.section-2-header {
  text-align: center;
}
.section-2-body {
  width: 75%;
  padding-left: 12%;
  margin-top: 30px;
}
.section-2-container {
  padding-top: 5%;
  display: flex;
}
.arrow-section-2 {
  position: absolute;
  color: black;
  padding: inherit;
}
.avatar {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}
.avatar-div {
  /*padding: 50px 0 0 200px;*/
  margin: 0 auto;
  z-index: 1;
}
.card-section {
  display: flex;
}
.card {
  width: 33%;
  height: 200px;
  align-content: center;
  justify-content: space-around;
  text-align: center;
}
.card-header {
  font-size: 50px;
}
.card-body {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}
.card-body-listing {
  text-align: left;
  padding-left: 30%;
  padding-top: 10px;
}
.section-3 {
  background-color: #292929;
  color: ghostwhite;
  align-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
}
.section-3-header {
  display: flex;
  text-align: center;
}
.section-3-body {
  width: 75%;
  padding-left: 12%;
}
.section-3-container {
  padding-top: 2%;
}
.down-arrow-section-3 {
  color: rgba(255, 255, 255, .3);
  font-size: 75px;
  text-align: center;
  transform: rotate(180deg);
  padding-bottom: 300px;
}
.section-4 {
  background-color: #FFF;
  align-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
}
.section-4-container {
  text-align: center;
  padding-top: 50px;
}
.website-table {
  width: 100%;
  align-self: center;
}
.website-logo {
  width: 175px;
  height: 50px;
}
.react-dashboard {
  width: 175px;
}
/*
 * Pulse animation
*/
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}
.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
/*
 * Blink animation
*/
.blink h1 {
  overflow: hidden;
  /*border-right: 2px solid #fff;*/
  white-space: nowrap;
  margin: 0 auto;
  /*animation: blink-caret .75s infinite;*/
}
/*@keyframes blink-caret {
  0% { border-color: transparent }
  50% { border-color: #fff }
}*/
@media (max-height: 550px){
  div {
    font-size: 12px !important;
  }
  svg {
    height: 0;
    width: 0;
  }
  h1 {
    font-size: 25px;
  }
  .avatar {
    width: 70px;
    height: 70px;
  }
  .section-2-header {
    padding-top: 50px;
  }
  .section-2-container {
    padding-top: 0px;
  }
}
