body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FFF;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
h1 {
  font-size: 50px;
}
.btn {
  padding: 15px 32px;
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}
/* Parallax base styles
--------------------------------------------- */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}
.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.parallax__layer--back {
  -webkit-transform: translateZ(-1px);
  transform: translateZ(-1px);
}
.parallax {
  font-size: 200%;
}
 /* add some padding to force scrollbars */
.parallax__layer {
  padding: 100vh 0;
}
.container {
  background-color: #174C4F;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.header {
  text-align: center;
  color: #FFF;
  padding-top: 100px;
}
.letter-z {
  transform: rotate(30deg);
  margin-top: -40px;
  margin-left: 350px;
}
.space {
  padding-left: 100px;
}
.down-arrow {
  color: rgba(255, 255, 255, .3);
  font-size: 75px;
  position: relative;
  text-align: center;
  transform: rotate(180deg);
}
.section-2 {
  align-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
}
.section-2-header {
  text-align: center;
}
.section-2-body {
  width: 35%;
  padding-left: 12%;
  margin-right: 0;
}
.section-2-container {
  padding-top: 2%;
  display: flex;
}
.arrow-section-2 {
  color: black;
  padding-bottom: 120px;
}
.avatar {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}
.avatar-div {
  padding: 50px 0 0 200px;
  z-index: 1;
}
.card-section {
  display: flex;
}
.card {
  width: 33%;
  height: 200px;
  align-content: center;
  justify-content: space-around;
  text-align: center;
}
.card-header {
  font-size: 50px;
}
.card-body {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}
.card-body-listing {
  text-align: left;
  padding-left: 30%;
  padding-top: 10px;
}
.section-3 {
  background-color: #292929;
  color: ghostwhite;
  align-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
}
.section-3-header {
  text-align: center;
}
.section-3-body {
  width: 75%;
  padding-left: 12%;
}
.section-3-container {
  padding-top: 2%;
}
.down-arrow-section-3 {
  color: rgba(255, 255, 255, .3);
  font-size: 75px;
  text-align: center;
  transform: rotate(180deg);
  padding-bottom: 300px;
}
.section-4 {
  background-color: #FFF;
  align-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
}
.section-4-container {
  text-align: center;
  padding-top: 50px;
}
.website-table {
  width: 100%;
  align-self: center;
  padding-top: 100px;
}
.website-logo {
  width: 175px;
  height: 50px;
}
.react-dashboard {
  width: 175px;
}
